RewriteEngine On
RewriteBase /ureport/
RewriteCond $1 !^(index\.php|image|js|css|packaged|img|uploads|libs|assets|script|user_guide|google4e680091ae3aca5f.html|sitemap.xml)
RewriteRule ^(.*)$ index.php [L]